* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

#form-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.form-item {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register-form fieldset {
    color: darkorange;
    border: darkorange solid 1px;

}

#login-form fieldset {
    color: darkorange;
    border: darkorange solid 1px;

}

#register-form button {
    margin-top: 10px;
    border: darkcyan solid 2px;
    border-radius: 5px;
}

#login-form button {
    margin-top: 10px;
    border: darkcyan solid 2px;
    border-radius: 5px;
}

#register-form input {
    border: darkcyan solid 2px;
    padding: 5px;
    border-radius: 5px;
}

#login-form input {
    border: darkcyan solid 2px;
    padding: 5px;
    border-radius: 5px;
}

#massage-box {
    z-index: 999;
    position: fixed;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 10px 10px;
}

#massage {
    color: white;
}
